.loginPage{
    width: 40%;
    margin: 0 auto;
    margin-left: 45%;
    
    

}
.form > input{
    padding: 50px 80px;
    width: 70%;
    border: solid 1px whitesmoke;
    border-radius: 5px;
}
.login-button{
    padding: 25px 56px;
    border: none;
    background-color: rgb(165, 72, 10);
    border-radius: 5px;
    color: #fff;
    /* margin-left: 25%; */
    margin-bottom: 10px;
    
}